.clock {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
    font-size: 24px;
    color: #444;
    text-align: center;
}

.clock::after {
    background: #aaa;
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #fff;
}

.hour {
    position: absolute;
    width: 10px;
    height: 60px;
    background: #3e261e;
    top: 30%;
    left: 49%;
    transform-origin: bottom;
}

.min {
    position: absolute;
    width: 6px;
    height: 100px;
    background: #444;
    top: 17.5%;
    left: 49%;
    transform-origin: bottom;
}

.sec {
    position: absolute;
    width: 2px;
    height: 118px;
    background: red;
    top: 10.5%;
    left: 50%;
    transform-origin: bottom;
}
